<div class="row border">
    <div class="col" style="height:750px;">
        <div class="border mx-auto mt-5" style="height:400px;width:300px">
        Login Page
        </div>
    </div> 
</div>

<div>
    <h2 class="text-center"> Login Form</h2>
    <div>
        <label for="email">Email</label>
        <input type="text" name="email" id="email" v-model="email" placeholder="Enter your email">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" v-model="password" placeholder="Enter your password">
    </div>
    <div>
        <button class="btn btn-primary"@click="loginUser">Login</button>

    </div>
</div>